.signreg-wrapper-sp {
  width: 50%;
}
.signreg-wrapper-sp div {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.login-spt {
  border-right: 1px solid white;
  padding-right: 15px;
}

.register-spt {
  padding-left: 15px;
}
