.tab-spt {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

/* Book Text CSS */
.book-text-sp {
  padding-left: 25px;
}

.book-text-sp p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 0;
}

.form-wrapper-sp {
  padding-left: 25px;
  height: 100%;
}

.input-header-spt {
  border: 1px solid #bdbdbd;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.226);
  border-radius: 40px;
  height: 35px;
}

.input-header-spt::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #acacac;
}

input[type="date"] {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #acacac;
}

input[type="number"] {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.domestic-form-dropdown-spt {
  height: 35px;
  border-radius: 40px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.226);
}

.domestic-form-dropdown-placeholder-spt {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #acacac;
  font-weight: 400;
}

.container-spt {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-right: 25px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.container-spt input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  border: #023c57 1px solid;
}

/* On mouse-over, add a grey background color */
.container-spt:hover input ~ .checkmark {
  background-color: #2e2e2e;
}

/* When the radio button is checked, add a blue background */
.container-spt input:checked ~ .checkmark {
  background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-spt input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-spt .checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ffcc00;
}

.col-headerLeft-form-spt {
  padding: 0;
}

.label-header-form-spt {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.divider-header-wrapper-spt {
  padding-right: 25px;
}

.divider-header-left-spt {
  background-color: #023c57;
  margin-top: 25px;
  width: 100%;
  height: 1px;
}

.button-header-wrapper-sp {
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 8px;
}

.button-header-spt {
  background-color: var(--button-color);
  border: 0;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #2e2e2e;
}

.button-header-spt:hover {
  background-color: var(--button-color);
}

@media only screen and (max-width: 768px) {
  /* Book Text CSS */
  .book-text-sp {
    padding-left: 0;
  }
  .form-wrapper-sp {
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
  }
  .button-header-wrapper-sp {
    padding-right: 35%;
    padding-top: 6px;
    padding-bottom: 8px;
  }
  .divider-header-left-spt {
    background-color: #023c57;
    margin-top: 25px;
    width: 108%;
    height: 1px;
  }
}

@media only screen and (max-width: 414px) {
  /* Book Text CSS */
  .book-text-sp {
    padding-left: 0;
  }
  .form-wrapper-sp {
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
  }
  .button-header-wrapper-sp {
    padding-right: 28%;
    padding-top: 6px;
    padding-bottom: 8px;
  }
  .divider-header-left-spt {
    background-color: #023c57;
    margin-top: 25px;
    width: 108%;
    height: 1px;
  }
}

@media only screen and (max-width: 375px) {
  /* Book Text CSS */
  .book-text-sp {
    padding-left: 0;
  }
  .form-wrapper-sp {
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
  }
  .button-header-wrapper-sp {
    padding-right: 25%;
    padding-top: 6px;
    padding-bottom: 8px;
  }
  .divider-header-left-spt {
    background-color: #023c57;
    margin-top: 25px;
    width: 108%;
    height: 1px;
  }
}
