.userinfo-wrapper-sp {
  width: 50%;
  padding: 0 30px;
}

.message-spt {
  position: relative;
  cursor: pointer;
}

.circle-mess-spt {
  position: absolute;
  top: 8%;
  left: 98%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #e74c3c;
  border-radius: 50%;
}

.circle-mess-spt p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.circle-user {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.user-spt {
  position: relative;
  cursor: pointer;
  border: 1px solid #f8f8f8;
  border-radius: 40px;
  padding: 4px 8px 4px 8px;
}

.user-spt p {
  margin: 0;
  color: white;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.guest-pop-spt {
  position: absolute;
  top: 150%;
  left: 60%;
  transform: translate(-50%);
  width: 150px;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation-name: userSetting;
  animation-duration: 1s;
}

.guest-pop-spt::before {
  content: "";
  bottom: 97%;
  left: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 1;
}

.user-setting-spt {
  list-style: none;
  padding: 0;
}

@keyframes userSetting {
  from {
    top: 180%;
  }
  to {
    top: 150%;
  }
}

.notification-spt {
  position: absolute;
  top: 150%;
  left: 60%;
  transform: translate(-50%);
  width: 200px;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation-name: userSetting;
  animation-duration: 1s;
}

.notification-spt::before {
  content: "";
  bottom: 97%;
  left: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 1;
}
