.currency-wrapper-spt {
  width: 50%;
  padding-left: 15px;
}

.corporate-login-spt {
  width: 170px;
  height: 30px;
  color: white;
  background-color: #00aaff00;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: 1px solid #ffffff;
  font-size: 14px;
}

.corporate-login-spt p {
  margin: 0;
  margin-right: 5px;
}
